header {
  background-color: #b5d3cc;
  padding: 20px;
  font-family: 'Titillium Web', sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  /*Links für a*/
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
h1 {
  font-size: 32px;
  margin: 40px 0 20px;
  text-align: center;
  text-transform: uppercase;
}
/*Alles darüber ist Header*/
/*Start Body*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

body{
  background-color: #F0F8FF;
}

#timer{
  font-family: 'Titillium Web', sans-serif;
}

.titel {
  font-size: 36px;
  margin: 20px 0;
  font-family: 'Titillium Web', sans-serif;
}

.gitter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gitter-item {
  height: 150px;
  width: 150px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #F0F8FF;
  font-family: 'Titillium Web', sans-serif;
  margin: 5px;
}


#reset {
  /*der Button*/
  padding: 10px 20px;
  font-size: 24px;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
  background-color: #F0F8FF;
}
